div#header
    
    if session && session.loggedin
        span 
            a(href="/artworks?page=1") ArtWorks
        span 
            a(href="/workshops") Workshops
        span   
            a(href="/search") Search
        span   
            a(href="/profile") Profile
        span   
            a(href="/logout") Logout 
    else
        span 
            a(href="/login") Login 
        span
            a(href="/register") Register 