body {
    font-family: "Times New Roman", Times, serif;
    padding-left: 10px;
    background-color: lightgray;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
select,button,input{
    font-family: "Times New Roman", Times, serif;
}